#### Install and import the necessary libraries.

In [1]:
!pip install pandas matplotlib numpy 
!pip install hydroeval HydroErr

Requirement already satisfied: pandas in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: matplotlib in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (3.10.3)
Requirement already satisfied: numpy in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: hydroeval in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (0.1.0)
Requirement already satisfied: HydroErr in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (1.24)
Requirement already satisfied: numpy in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from hydroeval) (2.2.6)
Requirement already satisfied: scipy in c:\users\raisa\appdata\local\programs\python\python313\lib\site-packages (from HydroErr) (1.16.0)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import hydroeval as hr
import HydroErr as he

In [3]:
file_path = '../Data/Planilha_DADOS.xlsx'  # Replace 'YOUR_FILE.xlsx'

In [4]:
# Load the file
b = pd.read_excel(file_path, sheet_name='BMenor_98-19', engine='openpyxl')
#b.set_index('Data', inplace=True) 
print("File found and loaded.")
#
b.info()
b.head()

File found and loaded.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8035 entries, 0 to 8034
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data             8035 non-null   datetime64[ns]
 1   Th_baciaMenor    8035 non-null   float64
 2   CHIRPS           8035 non-null   float64
 3   Std_CH           8035 non-null   float64
 4   Mdna_CH          8035 non-null   float64
 5   TRMM             8035 non-null   float64
 6   Std_TR           8035 non-null   float64
 7   Mdna_TR          8035 non-null   float64
 8   MSWEP            8035 non-null   float64
 9   Std_MP           8035 non-null   float64
 10  Mdna_MP          8035 non-null   float64
 11  Pluv_baciaMenor  8035 non-null   float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 753.4 KB

,Data,Th_baciaMenor,CHIRPS,Std_CH,Mdna_CH,TRMM,Std_TR,Mdna_TR,MSWEP,Std_MP,Mdna_MP,Pluv_baciaMenor
0,1998-01-01,0.000,0.000,0.000,0.0,0.006,0.021,0.000,0.313,0.416,0.125,0.0
1,1998-01-02,1.168,0.566,4.107,0.0,0.000,0.000,0.000,6.181,2.479,5.000,0.0
2,1998-01-03,36.618,6.430,11.981,0.0,4.902,1.779,3.627,18.319,14.690,10.625,44.4
3,1998-01-04,18.341,0.328,3.719,0.0,0.213,0.360,0.000,8.778,4.428,7.875,0.0
4,1998-01-05,13.350,0.000,0.000,0.0,0.000,0.000,0.000,2.431,1.744,1.875,12.6

In [7]:
soma = b.resample('ME', on='Data').sum()  ### D para dias, M para meses e Y para anos

#### Enter the columns referring to simulated (sim) and observed (obs) data

In [10]:
obs = soma.iloc[:,0].values
sim = soma.iloc[:,1].values

#### Calculate and write metrics

In [14]:
r = he.pearson_r(sim, obs)
print('R (Pearson Coefficient):',r)
print(round(r, 4)) #sets the number of decimal places

R (Pearson Coefficient): 0.8754275198801995
0.8754

In [16]:
nse = he.nse(sim, obs)
print('NSE:',nse)
print(round(nse, 4))

NSE: 0.5467071223597996
0.5467

In [20]:
rmse = he.rmse(sim, obs)
print('RMSE:',rmse)
print(round(rmse, 4))

RMSE: 110.24240978234023
110.2424

In [22]:
kge2012 = he.kge_2012(sim, obs, return_all=True)  # Returns (r, gamma, beta, kge)
print('KGE 2012 (Returns respectively r, gamma, beta, kge):',kge2012)
print(tuple(round(x, 4) for x in kge2012))

KGE 2012 (Returns respectively r, gamma, beta, kge): (np.float64(0.8754275198801995), np.float64(0.9243389491770937), np.float64(0.6924198145031912), np.float64(0.6596348021241364))
(np.float64(0.8754), np.float64(0.9243), np.float64(0.6924), np.float64(0.6596))

In [23]:
pbias = hr.pbias(sim, obs)   
print('PBIAS:',pbias)
print(round(pbias, 4))

PBIAS: 30.75801854968088
30.758

In [24]:
mare = hr.mare(sim, obs)
print('MARE:',mare)
print(round(mare, 4))

MARE: 0.3534873336498526
0.3535